.vscode/
bootstrap/
chart/
/public/assets/
/public/img/
/public/vendor/

/public/temp.php
/public/pie.php
/mysql
info.php
.htaccess
/public/edit_user.php
/public/admin.php
libs/
/public/students.php
/classes/student.php
.env
vendor/ 
tmp.php
composer.json
composer.lock
/student/update.php
/student/delete.php
/courses/delete.php
/courses/update.php
/classes/student.php
/courses/create.php
/courses/update.php
/courses/delete.php
/includes/body_bottom.php   


/home/ankush.dubey@simform.dom/apache/enrollment-system/student