.vscode/
bootstrap/
chart/
/public/assets/
/public/img/
/public/vendor/

/public/temp.php
/public/pie.php
/mysql
info.php
.htaccess
/public/edit_user.php
/public/admin.php
libs/
/public/students.php
.env
vendor/ 
tmp.php
composer.json
composer.lock